*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 2em;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.arrow-left{
  background-color: #000000;
  padding: 2% 97% 2% 3%
}

.restaurant-list {
  padding-top: 50px;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

h3 {
  font-size: 1.4em;
}

.location {
  background-color: #D1D1D1;
  float: left;
  margin-left: 3%;
  padding:3%;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.location:hover {
  background-color: #737373;
}

.content {
  display: inline-block;
}

.arrow {
  float: right;
  padding: 10px 10px 0px 0px
}
